<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.elaajonclick">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.mhutshow.elaajonclick.controller.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mhutshow.elaajonclick.controller.MyCalendarDoctorActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.TestActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.AppointementActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.FicheInfo" />
        <activity android:name="com.mhutshow.elaajonclick.controller.PatientInfoActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.DossierMedical" />
        <activity android:name="com.mhutshow.elaajonclick.controller.ChatActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.PatientRequestPage" />
        <activity android:name="com.mhutshow.elaajonclick.controller.DoctorHomeActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.EditProfileDoctorActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.ConfirmedAppointmensActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.PatientAppointementsActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.ProfilePatientActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.MyDoctorsAvtivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.ProfileDoctorActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.EditProfilePatientActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.DoctorAppointementActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.FicheActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.MyPatientsActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.SearchPatActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.FirstSigninActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.HomeActivity" />
        <activity android:name="com.mhutshow.elaajonclick.controller.MainActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>